
.Dropdown {
  position: relative;

  .selected {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #785140;
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    visibility: visible; /* Ensure visibility */
    opacity: 1; /* Ensure it's visible */
    transform: scaleY(1); /* Expanded state */
    transform-origin: top;
    transition: all 0.3s ease-in-out;
  }

  .option {
    padding: 10px;
    font-size: 1.5rem;
    color: #785140;
    cursor: pointer;
    &:hover {
      background: #f5f5f5;
    }
  }
}
