.Gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 5vw;
    margin-top: 150px;
    background-image: url(https://res.cloudinary.com/dxiwtrjjl/image/upload/f_auto,q_auto/v1/Illuminits/Gallerybackgound);
    background-attachment: fixed;
    background-size: cover;
    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #785140;
      font-weight: 600;
      @media screen and (max-width: 900px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 480px) {
        font-size: 1.5rem;
      }
    }
  
    .galleryContainer{
      width: 90vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      
      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 480px) {
          width: 80vw;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  