.contribution-section {
  padding: 5vh 10vw;
  width: 100%;
  background-color: #000;

  .contribution-box {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }

  .contribution-box__title {
    // color: #fff;
    font-size: 3rem;
    font-weight: 600;
    width: fit-content;
    text-align: center;
    color: #785140;
    @media screen and (max-width: 768px) {
      font-size: 2rem;
      text-align: center;
    }
  }
  p {
    color: #fff;
    // font-size: 1.5rem;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem;
    align-items: center;
  }
}
