.divContainer {
  position: relative;
  background-color: black;
  color: white;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    .divItem {
      padding: 10px;
      margin: 5px;
      background-color: black;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        z-index: 1;
        background-color: darkgray;
        color: white;
      }

      &:hover ~ .divItem {
        filter: blur(5px); /* Adjust the blur value as needed */
      }
    }
  }
}

// .divItem.active {
//   background-color: white;
//   color: white;
//   filter: blur(0);
// }
