.divContainer {
  // width: 65rem;
  position: relative;
  background-color: black;
  color: white;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mainDiv {
    background-color: black;
    width: 65vw;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;

    &:hover {
      z-index: 1;
      // background-color: darkgray;
      // color: white;
    }

    &:hover ~ .mainDiv {
      z-index: 0;
      filter: blur(5px);
    }

    .number {
      text-decoration: none;
      margin: auto;
    }

    .midllediv {
      margin: 1.1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;

      .heading {
        padding: 0.5rem;
        display: flex;
        justify-content: flex-start;
        font-size: 1.2rem;
      }

      .description {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.6);
      }
    }

    .arrowicon {
      margin: auto;
    }
  }
}

// .divItem.active {
//   background-color: white;
//   color: white;
//   filter: blur(0);
// }

@media only screen and (max-width: 400px) {
  .divContainer {
    // width: 65rem;
    position: relative;
    background-color: black;
    color: white;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .mainDiv {
      background-color: black;
      width: 65vw;
      height: 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 3rem;
    }
  }
}
