.About {
	width: 100%;
	height: fit-content;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: black; */
	background: url(https://res.cloudinary.com/dxiwtrjjl/image/upload/f_auto,q_auto/v1/Illuminits/w0k0wittyau4qrmkilko) ;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	backdrop-filter: invert(1);
	color: white;
	flex-direction: column;
	padding: 2rem;
	overflow: hidden;
}

.container {
	width: 80%;
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: black; */
	color: white;
	flex-direction: column;
	gap: 2rem;
}

.about-title {
	font-size: 3rem;
	margin-bottom: 1rem;
	color: #785140;
	font-weight: 600;
	@media screen and (max-width: 900px) {
		font-size: 2rem;
	}
	@media screen and (max-width: 480px) {
		font-size: 1.5rem;
	}
}
h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}
p {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 300;
	text-align: center;
	letter-spacing: 2px;
}

@media screen and (max-width: 900px) {
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 600px) {
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 400px) {
	h3 {
		font-size: 1rem;
	}
	p {
		font-size: 0.8rem;
	}
}
