
  .Contact-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:url(../../assets/images/bi.png);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: invert(1);
  gap: 2rem;
  color: #ffffff;

  p {
    color: white;
    font-size: 1.5vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  input {
    width: 50vw;
    height: 2rem;
    border: none;
    border-radius: 5px;
    padding: 0 1rem;
    font-size: 1.5vw;
    background: transparent;
    border-bottom: solid 1px white;
    color: #785140;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &:focus {
      outline: none;
      border-bottom: solid 2px #785140;
    }
  }


  ::placeholder{
    color: #ffffff;
  }

  button {
    display: flex;
    align-items: center;
    width: 8vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    background-color: #785140;
    color: white;
    border-radius: 2vw;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      border: solid 1px #785140;
      background-color: transparent;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 768px) {
  .Contact-box {
    button {
      width: 40vw;
      height: 5vh;
      border-radius: 10vw;
    }
  }
}
   
   
   