.FooterDiv{
    width: 100%;
    min-height: 25rem;
    background-image: url(https://res.cloudinary.com/dxiwtrjjl/image/upload/f_auto,q_auto/v1/Illuminits/nulme1ylswy3ck7qrhjo);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    // background-color: #6c5a5a;
}