.footer {
  background-image: url(https://res.cloudinary.com/dxiwtrjjl/image/upload/f_auto,q_auto/v1/Illuminits/nulme1ylswy3ck7qrhjo);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  // padding: 10Vh 10vw;
  padding-block: 10vh;
  background-color: #0202028a;
  color: #fff;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  a {
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #785140;
    }

    @media screen and (max-width: 900px) {
      font-size: 1rem;
    }
  }

  .infoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    gap: 1rem;

    @media screen and (max-width: 600px) {
      width: fit-content;
    }

    .info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.5rem;
      .content {
        width: 80%;
      }
      .icon {
        width: fit-content;
        // border: red solid 1px;
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
    gap: 1rem;

    @media screen and (max-width: 600px) {
      width: fit-content;
    }

    h3 {
      font-size: 3rem;
      @media screen and (max-width: 900px) {
        font-size: 2rem;
      }
    }

    .icons {
      display: flex;
      gap: 1rem;
      // width: 50%;
      .icon {
        min-height: 2.5rem;
      }
    }
  }

  .links {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
      width: fit-content;
    }
  }
}
