* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5vw;
}

body::-webkit-scrollbar-thumb {
  background-color: #785140;
  border-radius: 5vw;
}
body::-webkit-scrollbar-track {
  /* // background-color: #031431; */
  /* background-color: ; */
  background: linear-gradient(135deg,rgba(43, 43, 43, 0.85) , white );
}
